# Create `Udt` Schema and User-Defined Data Types:

In [8]:
-- =============================================
-- Author:		<Daniel Gargiullo, Oksana Weigand-Suminski, Jascharan Singh, Sarmad Ali, Augusta Na, Carlos Vega>
-- Create date: <12/1/2024>
-- Description:	<Create the `Udt` schema and User-defined Data Types>
-- =============================================

-- CREATE  SCHEMA  [Location]
-- GO

-- CREATE  SCHEMA  [DbSecurity]
-- GO

-- CREATE  SCHEMA  [Department]
-- GO

-- CREATE  SCHEMA  [Process]
-- GO

USE QueensClassSchedule
GO

CREATE  SCHEMA  [Udt]
GO

CREATE  TYPE    [Udt].[SurrogateKeyInt]     FROM    [int]               NULL
GO
CREATE  TYPE    [Udt].[DateAdded]           FROM    Datetime2(7)    NOT NULL
GO
CREATE  TYPE    [Udt].[ClassTime]           FROM    nchar(5)        NOT NULL
GO
CREATE  TYPE    [Udt].[ClassHours]          FROM    nchar(5)        NOT NULL
GO
CREATE  TYPE    [Udt].[IndividualProject]   FROM    NVARCHAR(60)    NOT NULL
GO
CREATE  TYPE    [Udt].[LastName]            FROM    NVARCHAR(35)    NOT NULL
GO
CREATE  TYPE    [Udt].[FirstName]           FROM    NVARCHAR(20)    NOT NULL
GO
CREATE  TYPE    [Udt].[GroupName]           FROM    NVARCHAR(20)    NOT NULL
GO
CREATE  TYPE    [Udt].[WorkFlowString]      FROM    NVARCHAR(100)   NOT NULL
GO
CREATE  TYPE    [Udt].[RowCount]            FROM    [int]           NOT NULL
GO
CREATE  TYPE    [Udt].[SurrogateKeyString]  FROM    NVARCHAR(30)    NOT NULL
GO
CREATE  TYPE    [Udt].[ClassLength]         FROM    NVARCHAR(30)    NOT NULL
GO
CREATE  TYPE    [Udt].[SurrogateKeyFloat]   FROM    FLOAT           NOT NULL
GO

: Msg 2714, Level 16, State 6, Line 22
There is already an object named 'Udt' in the database.

: Msg 2759, Level 16, State 0, Line 22
CREATE SCHEMA failed due to previous errors.

: Msg 219, Level 16, State 1, Line 25
The type 'Udt.SurrogateKeyInt' already exists, or you do not have permission to create it.

: Msg 219, Level 16, State 1, Line 27
The type 'Udt.DateAdded' already exists, or you do not have permission to create it.

: Msg 219, Level 16, State 1, Line 29
The type 'Udt.ClassTime' already exists, or you do not have permission to create it.

: Msg 219, Level 16, State 1, Line 33
The type 'Udt.IndividualProject' already exists, or you do not have permission to create it.

: Msg 219, Level 16, State 1, Line 35
The type 'Udt.LastName' already exists, or you do not have permission to create it.

: Msg 219, Level 16, State 1, Line 37
The type 'Udt.FirstName' already exists, or you do not have permission to create it.

: Msg 219, Level 16, State 1, Line 39
The type 'Udt.GroupName' already exists, or you do not have permission to create it.

# Create `Process` Schema:

In [10]:
-- =============================================
-- Author:		<Daniel, Oksana>
-- Create date: <12/1/2024>
-- Description:	<Create the `Course` table>
-- =============================================
USE QueensClassSchedule
GO

CREATE  SCHEMA  [Course]
GO

CREATE  TABLE   [Course].[Class]    (
	[ClassID]               [Udt].[SurrogateKeyInt] IDENTITY(1,1)   NOT NULL,
	[Enrollment]            [Udt].[SurrogateKeyInt]                     NULL,
	[Limit]                 [Udt].[SurrogateKeyInt]                     NULL,
	[Section]               [Udt].[SurrogateKeyString]                  NULL,
	[ClassCode]             [Udt].[SurrogateKeyString]                  NULL,
	[Days]                  [Udt].[SurrogateKeyString]                  NULL,
	[Time]                  [Udt].[ClassLength]                         NULL,
    [ClassStart]            [Udt].[ClassHours]                          NULL,
    [ClassEnd]              [Udt].[ClassHours]                          NULL,
	[Hours]                 [Udt].[SurrogateKeyFloat]                   NULL,
	[Credits]               [Udt].[SurrogateKeyInt]                     NULL,
	[InstructorID]          [Udt].[SurrogateKeyInt]                     NULL,
	[UserAuthorizationKey]  [Udt].[SurrogateKeyInt]                     NULL,
	[DateAdded]             [Udt].[DateAdded]                           NULL,
	[DateOfLastUpdate]      [Udt].[DateAdded]                           NULL
)   ON  [PRIMARY]
GO

: Msg 2714, Level 16, State 6, Line 9
There is already an object named 'Course' in the database.

: Msg 2759, Level 16, State 0, Line 9
CREATE SCHEMA failed due to previous errors.

# Create Procedure `[Course].[usp_LoadClassTable]`:

- `usp_LoadClassTable`: Description
- ``: Description
- ``: Description

# Create Procedures:
- `TruncateTables`: Procedure to truncate all tables
- `AddForeignKeys`: Add foreign key constraints
- `RemoveForeignKeys`: Remove foreign key constraints
- `WorkflowSummary`: Summary workflow report

In [ ]:
-- Oksana Weigand-Suminski
-- Procedure to truncate all tables (for data reloading)
CREATE PROCEDURE TruncateTables
AS
BEGIN
    TRUNCATE TABLE Class;
    TRUNCATE TABLE Course;
    TRUNCATE TABLE Instructor;
    TRUNCATE TABLE Department;
    TRUNCATE TABLE Building;
    TRUNCATE TABLE Room;
    TRUNCATE TABLE ModeOfInstruction;
    DELETE FROM WorkflowSteps;
END;
GO

-- Procedure to add foreign key constraints
CREATE PROCEDURE AddForeignKeys
AS
BEGIN
    ALTER TABLE Instructor
    ADD CONSTRAINT FK_Instructor_Department FOREIGN KEY (DepartmentID) REFERENCES Department(DepartmentID);

    ALTER TABLE Class
    ADD CONSTRAINT FK_Class_Course FOREIGN KEY (CourseID) REFERENCES Course(CourseID),
        CONSTRAINT FK_Class_Instructor FOREIGN KEY (InstructorID) REFERENCES Instructor(InstructorID);

    ALTER TABLE Room
    ADD CONSTRAINT FK_Room_Building FOREIGN KEY (BuildingID) REFERENCES Building(BuildingID);
END;
GO

-- Procedure to remove foreign key constraints
CREATE PROCEDURE RemoveForeignKeys
AS
BEGIN
    -- Remove Foreign Key from Instructor to Department
    ALTER TABLE Instructor DROP CONSTRAINT FK_Instructor_Department;

    -- Remove Foreign Keys from Class
    ALTER TABLE Class DROP CONSTRAINT FK_Class_Course;
    ALTER TABLE Class DROP CONSTRAINT FK_Class_Instructor;

    -- Remove Foreign Key from Room to Building
    ALTER TABLE Room DROP CONSTRAINT FK_Room_Building;
END;
GO

-- Procedure to perform a summary workflow report
CREATE PROCEDURE WorkflowSummary
AS
BEGIN
    SELECT 
        WorkFlowStepDescription,
        WorkFlowStepTableRowCount,
        StartingDateTime,
        EndingDateTime
    FROM WorkflowSteps
    ORDER BY StartingDateTime;
END;
GO