In [3]:
--Jascharan singh
--Oksana Weigand-Suminski
--
USE QueensClassSchedule
GO
-- Create the Department table
CREATE TABLE Department (
    DepartmentID INT IDENTITY(1,1) PRIMARY KEY,
    DepartmentName NVARCHAR(100) NOT NULL,
    CreatedDate DATETIME DEFAULT (SYSDATETIME())
);

-- Create the Instructor table
CREATE TABLE Instructor (
    InstructorID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    DepartmentID INT NOT NULL,
    FOREIGN KEY (DepartmentID) REFERENCES Department(DepartmentID)
);

-- Create the Course table
CREATE TABLE Course (
    CourseID INT IDENTITY(1,1) PRIMARY KEY,
    CourseName NVARCHAR(100) NOT NULL,
    Credits INT NOT NULL
);

-- Create the Class table
CREATE TABLE Class (
    ClassID INT IDENTITY(1,1) PRIMARY KEY,
    CourseID INT NOT NULL,
    InstructorID INT NOT NULL,
    Time CHAR(5) DEFAULT '09:15',
    Location NVARCHAR(100),
    Enrolled INT DEFAULT 0,
    Limit INT DEFAULT 30,
    FOREIGN KEY (CourseID) REFERENCES Course(CourseID),
    FOREIGN KEY (InstructorID) REFERENCES Instructor(InstructorID)
);

-- Create the Building table
CREATE TABLE Building (
    BuildingID INT IDENTITY(1,1) PRIMARY KEY,
    BuildingName NVARCHAR(100) NOT NULL,
    Address NVARCHAR(200)
);

-- Create the Room table
CREATE TABLE Room (
    RoomID INT IDENTITY(1,1) PRIMARY KEY,
    BuildingID INT NOT NULL,
    RoomNumber NVARCHAR(50) NOT NULL,
    Capacity INT DEFAULT 30,
    FOREIGN KEY (BuildingID) REFERENCES Building(BuildingID)
);

-- Create the Mode of Instruction table
CREATE TABLE ModeOfInstruction (
    ModeID INT IDENTITY(1,1) PRIMARY KEY,
    ModeDescription NVARCHAR(50) NOT NULL
);

-- Create the WorkflowSteps table
CREATE TABLE WorkflowSteps (
    WorkFlowStepKey INT IDENTITY(1,1) PRIMARY KEY,
    WorkFlowStepDescription NVARCHAR(100) NOT NULL,
    WorkFlowStepTableRowCount INT DEFAULT 0,
    StartingDateTime DATETIME2 DEFAULT (SYSDATETIME()),
    EndingDateTime DATETIME2 DEFAULT (SYSDATETIME())
);

: Msg 2714, Level 16, State 6, Line 6
There is already an object named 'Department' in the database.